#jinja2: trim_blocks: True, lstrip_blocks: True
# =============================================================================
# Package Update Report: Services Not Restarted After Update
# =============================================================================
# Report time: {{ ansible_date_time.iso8601 }}

{{ _faulty_services_ | to_nice_json }}
