#jinja2: trim_blocks: True, lstrip_blocks: True
# =============================================================================
# Package Update Report: Available Package Updates
# =============================================================================
# Report time: {{ ansible_facts['date_time']['iso8601'] }}

{{ _update_check_result_.stdout_lines | to_nice_json }}
