#jinja2: trim_blocks: True, lstrip_blocks: True
# =============================================================================
# Package Update Report: System Information
# =============================================================================
# Report time: {{ ansible_facts['date_time']['iso8601'] }}

# -----------------------------------------------------------------------------
# System Details
# -----------------------------------------------------------------------------
Hostname: {{ ansible_facts['hostname'] | default('N/A') }}

BOOT image: {{ ansible_facts['cmdline']['BOOT_IMAGE'] | default('N/A') }}
Kernel: {{ ansible_facts['kernel'] | default('N/A') }}

OS family: {{ ansible_facts['os_family'] | default('N/A') }}
OS distribution: {{ ansible_facts['distribution'] | default('N/A') }}
OS distribution release: {{ ansible_facts['distribution_release'] | default('N/A') }}
OS distribution version: {{ ansible_facts['distribution_version'] | default('N/A') }}
OS distribution major version: {{ ansible_facts['distribution_major_version'] | default('N/A') }}

# -----------------------------------------------------------------------------
# Installed Packages
# -----------------------------------------------------------------------------
{{ (ansible_facts.packages | default({})) | to_nice_json }}
